.app-layout {
    display: flex;
}

.app-content {
    flex: 1;
    padding: 24px;
    margin-left: 260px;
    /* SIDEBAR WIDTH */
}

/* MOBILE */
@media (max-width: 768px) {
    .app-content {
        margin-left: 0;
    }
}